/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
html {
    --my-white: rgb(250 250 250 /1);
    --my-magenta: rgb(252, 15, 192, 1);
    --my-green: rgb(0 255 0 /1);
    --my-black: rgb(10 10 10 /1);
}
body { background-color: var(--my-white); }
a { color: rgb(0 0 0 /0.8); }
/* a:hover {color: rgb(0 0 0 /.2);} */

/* GLOBAL STRUCTURE */
body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* GLOBAL TYPOGRAPHY */
body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 88.75%;  /* 14pt */
	line-height: 1.4; 
	color: rgb(0 0 0 /0.8);
}


/* HEADGINGS */
h1, h2 {
    font-family: 'pp_editorial_oldregular', Georgia, sans-serif;
    margin: .5em 0;
}

h3 {
    font-family: 'pp_editorial_olditalic', Georgia, sans-serif;
    margin: .5em 0;
}

/* PARAGRAPHS */
p { max-width: 66ch; }

/* LINK */
a {
	text-decoration: none;
    position: relative;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--my-green);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* GENERAL LISTS */
ul, ol {
    padding-left: 1.5em;
}

/* SITE HEADER */
header { 
    background-color: var(--my-black);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: .1em 0.5em;
    margin: 0 0.5em;
    text-decoration: none;
    color: var(--my-green);
}
  

/* MAIN */
main {
    background-color: var(--my-off-white);  
}

section {
    padding: 3em 1em;
}

/* FOOTER */
footer {
    background-color: var(--my-green);
    margin: 0;
    padding: 1em;
}

/* SOCIAL NAV */
.social-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* HERO SECTION */
.hero {
    text-align: center;
    color: rgb(0 0 0 /0.8);
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    color: var(--my-white);  
    text-shadow: 0em 0em 0.2em rgb(0 0 0 /.8);
    animation-name: animation-h2;
    animation-duration: 2s;
    /* animation-iteration-count: 2; */
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

@keyframes animation-h2 {
    10%   { opacity: 0;}
    100% { opacity: 1;}
    0%   { transform: translateY(-0.5em); }

    /* 0%      { color: var(--my-white); }
    75%     { color: var(--my-magenta); }
    100%    { color: var(--my-green); } */
}

.hero p {
    color: var(--my-white);
    margin: 1em auto;
    animation-name: animation-p;
    animation-duration: 2s;
}

@keyframes animation-p {
    10%   { opacity: 0;}
    100% { opacity: 1;}
    0%   { transform: translateY(0.5em); }

    /* 0%      { color: var(--my-white); }
    75%     { color: var(--my-magenta); }
    100%    { color: var(--my-green); } */
}

/* CUSTOM STYILING FOR SPECIFIC & SUB SECTION */
.page-home .hero {
    background-image: url(../img/black-01.jpg);
    background-size: cover;
    background-position: center;
    padding: 20vh 1em;
}
.page-home header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.page-home section {
    background-color: rgb(0 0 0 /1);
}

.page-sub .hero{
    background-color: rgb(0 0 0 /0.5);
    color: rgb(0 0 0 /0.8);
}

/* COURSE SECTION */
 .courses {
    padding: 4em 1em 7em 1em;
    display: grid;
    justify-content: center;
 }

 .courses ul {
    color: var(--my-white);
    margin: 0;
    padding: 0;
    list-style: none;
 }

 .courses h3, .courses a {
    /* color: rgb(0 0 0 /0.8);
    line-height: 1; */
    color: var(--my-white);
    text-align: center;
 }


/* COURSE PAGES WITH MULTIPLE PROJECT LISTS */
 .coursework{
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 .project {
    margin: 2em;
 }

 /* LAYOUT */
 .container {
    max-width: 1000px;
    margin: 0 auto;
 }

 section {
    padding: 3em 1em;
 }

 /* SIDEBAR/ASIDE */
.aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar{
        display: grid;
        grid-template-columns: 20em auto;
    }

    .two-col-sidebar aside{
        border-right: 1px solid rgb(0 0 0 /0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* PRE CODE STYLE & CODE BLOCKS */
pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}
/* NOTES PAGE SCCROLLBAR FIX FOR GISTS */
@media (min-width: 768px) and (max-width: 910px) {
    .gist {
    max-width: 450px;
    }
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}

dd {
    margin: 0;
}


/* FOR WEB DEV PURPOSES ONLY */
/* this is to see blocks */
/* body * {
    background-color: rgb(0 0 0 /0.05);
    border: 1px solid rgb(0 0 0 /0.1);
    color: rgb(0 0 0 /0.5);
} */
