@charset "UTF-8";
/* BASE CSS (Initial Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPER
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #site-id (IDENTIFIER)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
---------------------------------*/
/* TYPOGRAPHY */
/* Reference
    62.5%   => 10px
    68.2%   => 11px
    75%     => 12px
    81.3%   => 13px
    87.5%   => 14px
    100%    => 16px
    112.5%  => 18px
    125%    => 20px
    */

body {
    font-size: 87.5%;   /* 14px */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;  /* 14px x 1.5 = 21px */
    color: rgb(0 0 0 /0.8);
} 

/* HEADINGS
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
 */

 h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
 }

 h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
 }
 h2 {
    font-size: 2.25em;    /* 36px / 16px = 2.25em */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;    /* 24px / 16px = 1.5em */
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em;    /* 21px / 16px = 1.3125em */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em;    /* 18px / 16px = 1.125em */
    line-height: 1.4;
}

h6 {
    font-size: 1em;    /* 16px / 16px = 1em */
    line-height: 1.5;
}

