/* ----------------------------------------------- */
/* LAYOUT & GRID SYSTEM */
/* ----------------------------------------------- */

/* RESPONSIVE TYPOGRAPHY VIA MEDIA QUERIES */

/* SMALL SCREENS (Mobile , 767px) */
body {
    /* Set the default font size */
    font-size: 87.5%;
}

/* MEDIUM SCREENS ( Tablets < 1200px ) */
@media (min-width: 768px) {
    body {
        /* Set the medium screens and highr font size to 16px */
        font-size: 100%;
    }
}

/* LARGE SCREENS ( Laptops & Desktop > 1200px ) */

@media (min-width: 1200px) {
    body {
        /* Set the medium screens and highr font size to 16px */
        font-size: 112.5%;
    }
}

/* CONTAINER */
.container {
    /* SET THE MAX WIDTH OF YOUR SITE (eg 1200px) */
    max-width: var(--container-width);

    /* CENTER THE CONTAINER HORIZONTALLY*/
    margin-left: auto;
    margin-right: auto;
}

/* GRID */
.row {
    --gridgap: 2em;
}

/* - All the children under row */
.row>* {

    /* - Setting bttom margin for each fraction */
    margin-top: var(--gridgap);
    margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {

    /* Create grid in 12 columns, with equal fractions */
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    /* Commonly ysed semantic column widths & Setting size for each grid */
    .one-half {
        grid-column: auto / span 6;
    }

    .one-third {
        grid-column: auto / span 4;
    }

    .two-thirds {
        grid-column: auto / span 8;
    }

    .one-fourth {
        grid-column: auto / span 3;
    }

    .three-fourths {
        grid-column: auto / span 9;
    }

    /* 12 Column Classes: how many columns to overlap */
    .col-1 {
        grid-column: auto / span 1;
    }

    .col-2 {
        grid-column: auto / span 2;
    }

    .col-3 {
        grid-column: auto / span 3;
    }

    .col-4 {
        grid-column: auto / span 4;
    }

    .col-5 {
        grid-column: auto / span 5;
    }

    .col-6 {
        grid-column: auto / span 6;
    }

    .col-7 {
        grid-column: auto / span 7;
    }

    .col-8 {
        grid-column: auto / span 8;
    }

    .col-9 {
        grid-column: auto / span 9;
    }

    .col-10 {
        grid-column: auto / span 10;
    }

    .col-11 {
        grid-column: auto / span 11;
    }

    .col-12 {
        grid-column: auto / span 12;
    }

    /* Centered columns */
    .one-half.centered {
        grid-column: 4 / span 6;
    }

    .one-third.centered {
        grid-column: 5 / span 4;
    }

    .two-thirds.centered {
        grid-column: 3 / span 8;
    }

    /* Pushes: which column to start */
    .push-1 {
        grid-column-start: 2;
    }

    .push-2 {
        grid-column-start: 3;
    }

    .push-3 {
        grid-column-start: 4;
    }

    .push-4 {
        grid-column-start: 5;
    }

    .push-5 {
        grid-column-start: 6;
    }

    .push-6 {
        grid-column-start: 7;
    }

    .push-7 {
        grid-column-start: 8;
    }

    .push-8 {
        grid-column-start: 9;
    }

    .push-9 {
        grid-column-start: 10;
    }

    .push-10 {
        grid-column-start: 11;
    }

    .push-11 {
        grid-column-start: 12;
    }

    /* SWAP (REVERSE) COLUMNS - WORKS ONLY w/ 2 CHILDREN  */
    .row.swapped>*:first-child {
        order: 2;
    }

    .row.swapped>*:last-child {
        order: 1;
    }

}

/* FOR DEMO PURPOSES */
.demo>* {
    background-color: #444;
    padding: 1em;
    ;
    text-align: center;
}